<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>ProjectBase</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/imp.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" >
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color: #2a7935;">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="color: white;" ><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                     <li class="nav-item dropdown">
                    @* <a class="nav-link" asp-action='AlterarSenha' asp-controller='Autenticacao'>
                        Alterar Senha
                       <i class="fas fa-key"></i> *@
                        @* <span class="badge badge-warning navbar-badge">15</span> *@
                    </a>
    
                </li>
                @if(User.Identity.IsAuthenticated){
                    <a class="nav-link" asp-action="Logout" asp-controller="Autenticacao" style="color: white;">
                        Sair
                        <i class="fas fa-door-open"></i>
                        @* <span class="badge badge-warning navbar-badge">15</span> *@
                    </a>
                }
                else{
                     <a class="nav-link" asp-action="Login" asp-controller="Autenticacao">
                        Entrar
                        <i class="fas fa-door-closed"></i>
                     </a>
                }    
                </li>
               
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-orange">
            <!-- Brand Logo -->
            <a href="/Home/Index" class="brand-link navbar-light"  style="background-color: #2a7935;">

                 <img src="~/dist/img/Logo.png" alt="ProjectBase" class="brand-image" style="opacity: .8; 
                                                                                        background-color: white; 
                                                                                        size: 50px;
                                                                                        border-top-left-radius: 6px; 
                                                                                        border-bottom-left-radius: 6px; 
                                                                                        padding-right: 5px; 
                                                                                        padding-left: 5px;
                                                                                        margin-top: 2px;"> 

                 <span class="brand-text font-weight-light"> <strong style="color: white; background-color: #256a2e; font-size: 25px; border-top: 1px solid #336600;
                                                                                                            border-right: 1px solid #336600;
                                                                                                            border-bottom: 1px solid #336600;
                                                                                                            padding-right: 10px;
                                                                                                            padding-left: 10px;
                                                                                                            margin-top: -2px;
                                                                                                            margin-left: -8px;"> SCPN </strong></span> 
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                      <img src="~/dist/img/UserIcon.png" class="img-circle elevation-2" alt="User Image" style="size: 10px;">
                    </div>
                    <div class="info">
                        @if(User.Identity.IsAuthenticated){
                        <a href="#" class="d-block">@User.Identity.Name</a>
                        }
                        else{
                            <a href="#" class="d-block">Usuário</a>
                        }
                    </div>
                </div>
                     <partial name="_Menu"/>        
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h3 class="m-0 text-dark">@ViewBag.Title</h3>
                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
        
                                <div class="card-body">
                                      @RenderBody()     
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- The Right Sidebar -->
        <aside class="control-sidebar control-sidebar-light">
            <!-- Content of the sidebar goes here -->
        </aside>
        <!-- The sidebar's background -->
        <!-- This div must placed right after the sidebar for it to work-->
        <div class="control-sidebar-bg"></div>
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>DER &copy; @System.DateTime.Now.Year. </strong>GTI.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 0.0.1
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-mask/jquery.mask.min.js"></script>
    <script src="~/plugins/swal/swal.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/dist/js/site.js"></script>
    <script src="~/dist/js/cep.js"></script>
    <!-- PAGE PLUGINS -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- CKEDITOR -->
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <partial name='_Alertas'/>
</body>

</html>